.main-footer-container {
	display: flex;
	justify-content: space-between;
	margin-top: 5%;
	padding: 0 12vw;
}

.psuedo-footer {
	display: flex;
	border-bottom: 1px solid #ebebeb;
	padding-bottom: 100px;
	width: -webkit-fill-available;
	column-gap: 50px;
	flex-wrap: wrap;
	row-gap: 40px;
}

.footer-left p {
	text-transform: none;
	padding-top: 25px;
	width: 300px;
}

.footer-right {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 50px;
	width: 100%;
}

.first-right-line {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	row-gap: 20px;
}

.first-right-line p {
	font-family: Gotham2;
	font-size: 20px;
	color: #444444;
}

.first-right-line input ::placeholder {
	font-family: Gotham;
	font-size: 15px;
}

.first-right-line input {
	background-color: #e8e8e8;
	/* padding: 27px 55px 27px 25px; */
}

.first-right-line button {
	border: none;
	background-color: #db3838;
	color: #ffffff;
	padding: 15px 30px;
}

.right-points-heading {
	display: flex;
	justify-content: center;
	align-items: center;
}

.right-points-heading p {
	font-family: Gotham2;
	font-size: 15px;
}

.rightpoints {
	display: flex;
	justify-content: space-between;
	width: 100%;
	flex-wrap: wrap;
	row-gap: 70px;
	column-gap: 35px;
}

.points1 p,
.points2 p,
.points3 p {
	font-family: "Gotham2";
	font-size: 16px;
	padding-bottom: 40px;
}

.points1 ul,
.points2 ul,
.points3 ul {
	display: flex;
	align-items: baseline;
	justify-content: center;
	flex-direction: column;
	padding: 0;
	height: auto;
	gap: 20px;
}

.points1 ul li,
.points2 ul li,
.points3 ul li {
	font-family: Gotham;
	color: #444444;
}

.points1 ul li img,
.points2 ul li img,
.points3 ul li img {
	padding-right: 10px;
}

.points3 ul {
	width: 300px;
}

.points3 ul li {
	display: flex;
	align-items: baseline;
}

.points3 ul li p {
	text-transform: none;
	font-family: "Gotham";
	padding: 0;
}

.footer-right hr {
	width: 100%;
	border: 1px solid #ebebeb;
}

.copyright {
	font-size: 15px;
	color: #444444;
	text-transform: none;
	text-align: center;
	font-family: Gotham2;
	padding: 50px 0;
}
