
.header-content ul{
    padding: 0px 13vw;
    color: #444444;
    font-size: 14px; 
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 6px;
    height: auto;
}

.header-contetn li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #444444;
    font-family: Gotham2, 'sans-serif';  
}

.header-content{
    width: 100%;
    margin-bottom: 30px;
    margin-top: 30px;
}