@font-face {
	font-family: Gotham;
	src: url(Gotham-font-family/Gotham-Book.otf);
}

@font-face {
	font-family: Gotham2;
	src: url(Gotham-font-family/Gotham-Medium.otf);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Gotham2", "sans-serif";
}

button {
	cursor: pointer;
}

html{
	scroll-behavior: smooth;
}
